<p id="notice"><%= notice %></p>

<h1>Каталог товаров</h1>

  <table>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td>
          <%= image_tag(product.image_url, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%category = Category.find_by(id: product.category_id) %></dt>
            <dt><%= category.name %></dt>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
          </dl>
        </td>
        <td class="list_actions">
          <li><%= link_to 'Посмотреть', product %><br/></li>
          <div class="price_line">
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to 'В корзину', line_items_path(product_id: product), remote: true %>
          </div>
        </td>
      </tr>
      <% end %>
  </table>
  <br />
